* {
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  background-color: #eeeeee;
  position: relative;
}

.step:last-child {
  margin-right: 0;
}

.heading {
  padding: 3px;
  background-color: #ff9a4b;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.title {
  margin: 15px 0 5px;
}

.image1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.image2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.image3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}