* {
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
}

.heading {
  padding: 20px 0;
  text-align: center;
}

nav {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.nav-list {
  text-align: center;
  padding: 15px 0;
}

.nav-list-item{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.boxes {
  width: 800px;
  height: 600px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.box1 {
  height: 200px;
  width: 200px;
  background-color: #e6ffe9;
}
.box2 {
  height: 200px;
  width: 200px;
  background-color: #cbffd3;
}
.box3 {
  height: 200px;
  width: 200px;
  background-color: #aeffbd;
}
.box4 {
  height: 200px;
  width: 200px;
  background-color: #93ffab;
}
.box5 {
  height: 200px;
  width: 200px;
  background-color: #f3ffd8;
}
.box6 {
  height: 200px;
  width: 200px;
  background-color: #edffbe;
}
.box7 {
  height: 200px;
  width: 200px;
  background-color: #e9ffa5;
}
.box8 {
  height: 200px;
  width: 200px;
  background-color: #e4ff8d;
}
.box9 {
  height: 200px;
  width: 200px;
  background-color: #d9e5ff;
}
.box10 {
  height: 200px;
  width: 200px;
  background-color: #bad3ff;
}
.box11 {
  height: 200px;
  width: 200px;
  background-color: #a4c6ff;
}
.box12 {
  height: 200px;
  width: 200px;
  background-color: #8eb8ff;
}

footer {
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: grey;
}

p {
  color: white;
}